//首先先全局安装jade: npm install -g jade
//jade 是对缩进、空格以及单词非常敏感的模板引擎,所以在编写jade模板的时候不要随便空格和缩进
//平级标签无需缩进,换行即可;父子标签需要换行和tab缩进;
doctype html
html
    head
        //属性使用(属性=属性值),多个属性使用','分割。
        meta(charset='utf-8')

        //标签后边空格 代表设置innerHTML内容
        title jade学习
    body
        h1 这回一个标题
        //默认标签就是div标签。#代表设置id属性
        #adiv 这是一个id为#adiv的div标签
        #xxx.ooo 这是有id和class属性的div标签
        p.xxx.ooo 这是有多个class属性值的p标签
        a(href='http://www.baidu.com',target='_self') 百度
        //jade模板还支持定义变量。#{}是取值表达式;还可以使用'='或是'!='
        - var name = 'roy'
        p #{name}
        p=name
        p!=name

        //'='和'!='的区别:'='会把变量中的箭头替换为"&lt;"和"&gt;",而'!='不会
        - var span = '<span>这是一个span</span>'
        p=span
        p!=span

        //由上边的取值的三种方式可以看出'='、'!'以及'#'都是特殊字符,所以保留特殊字符原有格式需要使用转义字符:'\'
        p \#{name}

        //'#{}'和'='的区别
        input(type="text",value='#{name}')
        input(type="text",value='name')
        input(type="text",value=name)
        input(type="text",value!=name)

        //多行文本。使用'.'可以保留多行的换行格式。
        p.
            第一行
            第二行
            第三行

        p 
            第一行
            第二行
            第三行

        //注意script加'.'和不加区别很明显
        script.
            console.log('1111111')
            console.log('2222222')
            console.log('3333333')
        
        //jade同样支持条件控制语句
        //if...else
        - var isTrue = true
        if isTrue
            p isTrue的值是true
        else
            div isTrue的值是false

        //case...when
        - var a = [1,3,5,10]
        case a[1]
            when 1
                p 11111111111
            when 3
                p 33333333333
            when 5
                p 55555555555
            when 10
                p 101010101010
        
        //for...in...遍历对象
        - var obj = {name:'roy',age:28}
        - for (var key in obj)
            p!=obj[key]
            p #{key}:#{obj[key]}

        //each...in...遍历数组、集合和对象
        //遍历数组
        - var list = ['HTML5','CSS3','JS']
        ul
            each value in list
                li!=value   

        //遍历对象
        - var person = {name:"tom",age:20,city:"南京"}  
        - each value,key in person
            p #{key} --- #{value}

        
        //jade还支持函数等混合语法(Mixin)
        //mixin定义函数
        mixin add(a,b)
            ul
                li!=a
                each item in b
                    li!=item
        

        //使用'+'执行函数
        +add(5,[1,2,4])




//使用jade xxx.jade 可以将xxx.jade 编译为xxx.html文件.但是编译后的代码没有换行和缩进格式。
//jade -P xxx.jade 可以编译并保留换行和缩进格式。
//jade -P -w xxx.jade 可以编译并保留换行和缩进格式同时进入监听模式,只要jade文件被修改,就会自动重新编译。